/* h1 {
    color: crimson;
} */

body {
    width: 33%;
}

#res {
    background-color: lightgray;
    border: solid;
    height: 48px;
    font-size: 20px;
}

.number-button {
    background-color: lightgreen;
    color: brown;
}

.default {
    background-color: darkgreen;
    color: white;
}

.math-operations {
    background-color: black;
    color: red;
}

#btns button {
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin: 0px;
    float: left;
}